body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #b41d61, #a92092, #ab58f4);
    margin: 0;
    padding: 0;
    text-align: center;
}
#headerSection {
    padding: 10px 20px;
}

.presentacion {
    border-style: dashed;
    margin: 0 auto;
    max-width: 80%;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

.glow {
    color: #69275b;
    text-shadow: 0 0 10px rgb(255, 153, 197), 0 0 20px #ff9, 0 0 30px #ff9, 0 0 40px #ff9, 0 0 50px #ff9, 0 0 60px #ff9, 0 0 70px #ff9;
    animation: glow 1.5s ease-in-out infinite alternate;
}

#headerSection p {
    font-style: italic;
    font-size: 1.2em;
    margin: 20px auto;
    max-width: 600px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.redes-sociales {
    margin-top: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 15px;
}

.redes-sociales img {
    max-width: 50px;
    height: auto;
}

#navBar {
    background-color: rgba(228, 0, 249, 0.313);
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

#navBar ul li {
    margin: 0 20px;
}

#navBar ul li a {
    color: rgb(109, 6, 168);
    text-shadow: 0 0 10px rgb(255, 153, 197), 0 0 20px rgb(28, 206, 191), 0 0 30px #ff9, 0 0 40px #ff9, 0 0 50px rgb(252, 153, 255), 0 0 60px #ff9, 0 0 70px #ff9;
    text-decoration: none;
    font-size: 1.3em;
}

#navBar a:hover {
    color: #8619e6;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    #headerSection p {
        font-size: 1em;
    }

    header img {
        width: 100px;
        height: 100px;
    }

    .redes-sociales img {
        max-width: 40px;
    }

    #navBar ul li {
        margin: 10px 15px;
    }

    #navBar ul li a {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }

    #headerSection p {
        font-size: 0.9em;
    }

    header img {
        width: 80px;
        height: 80px;
    }

    .redes-sociales img {
        max-width: 30px;
    }

    #navBar ul li {
        margin: 5px 10px;
    }

    #navBar ul li a {
        font-size: 1em;
    }
}